Repository prgrms-be-devcourse/BEDV2_Amabnb, pull requests merged in 2022-07, with the labels that each got.

#75 [#63] feat: 예약 불가능 날짜 조회 구현
  src/main/java/com/prgrms/amabnb/reservation/api/ReservationController.java
  src/main/java/com/prgrms/amabnb/reservation/dto/request/ReservationDateRequest.java
  src/main/java/com/prgrms/amabnb/reservation/dto/response/ReservationDateResponse.java
  src/main/java/com/prgrms/amabnb/reservation/dto/response/ReservationDatesResponse.java
  src/main/java/com/prgrms/amabnb/reservation/repository/ReservationRepositoryCustom.java
  src/main/java/com/prgrms/amabnb/reservation/repository/ReservationRepositoryImpl.java
  src/main/java/com/prgrms/amabnb/reservation/service/ReservationService.java
  src/test/java/com/prgrms/amabnb/reservation/api/ReservationControllerTest.java
  src/test/java/com/prgrms/amabnb/reservation/repository/ReservationRepositoryTest.java
  src/test/java/com/prgrms/amabnb/reservation/service/ReservationServiceTest.java
Labels: 🎵 feat, :calendar: reservation

#79 [#64, #65, #66] feat: 예약 상태 변경 기능 구현
  src/main/java/com/prgrms/amabnb/reservation/api/ReservationGuestApi.java
  src/main/java/com/prgrms/amabnb/reservation/api/ReservationHostApi.java
  src/main/java/com/prgrms/amabnb/reservation/dto/response/ReservationInfoResponse.java
  src/main/java/com/prgrms/amabnb/reservation/dto/response/ReservationResponseForGuest.java
  src/main/java/com/prgrms/amabnb/reservation/entity/Reservation.java
  src/main/java/com/prgrms/amabnb/reservation/exception/ReservationNotFoundException.java
  src/main/java/com/prgrms/amabnb/reservation/exception/ReservationNotHavePermissionException.java
  src/main/java/com/prgrms/amabnb/reservation/exception/ReservationStatusException.java
  src/main/java/com/prgrms/amabnb/reservation/repository/ReservationRepository.java
  src/main/java/com/prgrms/amabnb/reservation/repository/ReservationRepositoryCustom.java
  src/main/java/com/prgrms/amabnb/reservation/repository/ReservationRepositoryImpl.java
  src/main/java/com/prgrms/amabnb/reservation/service/ReservationGuestService.java
  src/main/java/com/prgrms/amabnb/reservation/service/ReservationHostService.java
  src/main/java/com/prgrms/amabnb/reservation/service/ReservationService.java
  src/main/java/com/prgrms/amabnb/reservation/service/ReservationValidator.java
  src/main/java/com/prgrms/amabnb/room/entity/Room.java
  src/main/java/com/prgrms/amabnb/room/repository/RoomRepository.java
  src/main/java/com/prgrms/amabnb/token/api/TokenApi.java
  src/main/java/com/prgrms/amabnb/user/entity/User.java
  src/test/java/com/prgrms/amabnb/config/ApiTest.java
  src/test/java/com/prgrms/amabnb/reservation/api/ReservationGuestApiTest.java
  src/test/java/com/prgrms/amabnb/reservation/api/ReservationHostApiTest.java
  src/test/java/com/prgrms/amabnb/reservation/entity/ReservationTest.java
  src/test/java/com/prgrms/amabnb/reservation/repository/ReservationRepositoryTest.java
  src/test/java/com/prgrms/amabnb/reservation/service/ReservationGuestServiceTest.java
  src/test/java/com/prgrms/amabnb/reservation/service/ReservationHostServiceTest.java
  src/test/java/com/prgrms/amabnb/reservation/service/ReservationValidatorTest.java
  src/test/java/com/prgrms/amabnb/token/api/TokenApiTest.java
Labels: 🍰 refac, 🎵 feat, :calendar: reservation

#94 [#93] fix: 테스트 깨지는 현상 수정
  src/test/java/com/prgrms/amabnb/reservation/api/ReservationGuestApiTest.java
  src/test/java/com/prgrms/amabnb/reservation/api/ReservationHostApiTest.java
  src/test/java/com/prgrms/amabnb/reservation/repository/ReservationRepositoryTest.java
Labels: 🐛 bug, :gear: test

#80 [#68] feat: 게스트는 예약했던 숙소에 리뷰를 작성할 수 있다
  src/main/java/com/prgrms/amabnb/reservation/dto/response/ReservationReviewResponse.java
  src/main/java/com/prgrms/amabnb/reservation/entity/Reservation.java
  src/main/java/com/prgrms/amabnb/reservation/entity/ReservationStatus.java
  src/main/java/com/prgrms/amabnb/reservation/service/ReservationGuestService.java
  src/main/java/com/prgrms/amabnb/review/api/ReviewApi.java
  src/main/java/com/prgrms/amabnb/review/dto/request/CreateReviewRequest.java
  src/main/java/com/prgrms/amabnb/review/entity/Review.java
  src/main/java/com/prgrms/amabnb/review/exception/AlreadyReviewException.java
  src/main/java/com/prgrms/amabnb/review/exception/ReviewNoPermissionException.java
  src/main/java/com/prgrms/amabnb/review/exception/ReviewNotValidStatusException.java
  src/main/java/com/prgrms/amabnb/review/repository/ReviewRepository.java
  src/main/java/com/prgrms/amabnb/review/service/ReviewService.java
  src/test/java/com/prgrms/amabnb/reservation/repository/ReservationRepositoryTest.java
  src/test/java/com/prgrms/amabnb/review/api/ReviewApiTest.java
  src/test/java/com/prgrms/amabnb/review/service/ReviewServiceTest.java
Labels: :gear: test, 🎵 feat, :triangular_flag_on_post: review

#97 [#71] feat: 예약 정보 수정 기능 구현
  build.gradle
  src/main/java/com/prgrms/amabnb/common/vo/Money.java
  src/main/java/com/prgrms/amabnb/reservation/api/ReservationGuestApi.java
  src/main/java/com/prgrms/amabnb/reservation/dto/request/ReservationUpdateRequest.java
  src/main/java/com/prgrms/amabnb/reservation/entity/Reservation.java
  src/main/java/com/prgrms/amabnb/reservation/entity/vo/ReservationDate.java
  src/main/java/com/prgrms/amabnb/reservation/exception/ReservationReduceDateException.java
  src/main/java/com/prgrms/amabnb/reservation/repository/ReservationRepositoryCustom.java
  src/main/java/com/prgrms/amabnb/reservation/repository/ReservationRepositoryImpl.java
  src/main/java/com/prgrms/amabnb/reservation/service/ReservationGuestService.java
  src/test/java/com/prgrms/amabnb/reservation/api/ReservationGuestApiTest.java
  src/test/java/com/prgrms/amabnb/reservation/entity/vo/ReservationDateTest.java
  src/test/java/com/prgrms/amabnb/reservation/repository/ReservationRepositoryTest.java
  src/test/java/com/prgrms/amabnb/reservation/service/ReservationGuestServiceTest.java
Labels: 🎵 feat, :calendar: reservation

#98 [#82] feat: 게스트는 본인이 작성한 리뷰를 삭제할 수 있다
  src/main/java/com/prgrms/amabnb/review/api/ReviewApi.java
  src/main/java/com/prgrms/amabnb/review/exception/ReviewNotFoundException.java
  src/main/java/com/prgrms/amabnb/review/repository/ReviewRepository.java
  src/main/java/com/prgrms/amabnb/review/service/ReviewService.java
  src/test/java/com/prgrms/amabnb/common/fixture/ReviewFixture.java
  src/test/java/com/prgrms/amabnb/review/api/ReviewApiTest.java
  src/test/java/com/prgrms/amabnb/review/service/ReviewServiceTest.java
Labels: :gear: test, 🎵 feat

#99 [#87] test: 통합테스트에서 @Transactional 제거
  build.gradle
  src/main/java/com/prgrms/amabnb/AmabnbApplication.java
  src/main/java/com/prgrms/amabnb/common/config/JpaAuditingConfig.java
  src/main/java/com/prgrms/amabnb/reservation/dto/request/CreateReservationRequest.java
  src/main/java/com/prgrms/amabnb/reservation/entity/Reservation.java
  src/main/java/com/prgrms/amabnb/review/entity/Review.java
  src/main/java/com/prgrms/amabnb/room/entity/Room.java
  src/main/java/com/prgrms/amabnb/room/entity/RoomImage.java
  src/main/java/com/prgrms/amabnb/token/entity/Token.java
  src/main/java/com/prgrms/amabnb/user/entity/User.java
  src/main/resources/application-test.yaml
  src/test/java/com/prgrms/amabnb/common/fixture/ReviewFixture.java
  src/test/java/com/prgrms/amabnb/config/ApiTest.java
  src/test/java/com/prgrms/amabnb/config/DatabaseCleanup.java
  src/test/java/com/prgrms/amabnb/config/QueryConfig.java
  src/test/java/com/prgrms/amabnb/config/RepositoryTest.java
  src/test/java/com/prgrms/amabnb/reservation/api/ReservationGuestApiTest.java
  src/test/java/com/prgrms/amabnb/reservation/entity/ReservationTest.java
  src/test/java/com/prgrms/amabnb/reservation/repository/ReservationRepositoryTest.java
  src/test/java/com/prgrms/amabnb/reservation/service/ReservationHostServiceTest.java
  src/test/java/com/prgrms/amabnb/review/api/ReviewApiTest.java
  src/test/java/com/prgrms/amabnb/review/service/ReviewServiceTest.java
Labels: 🍰 refac, :gear: test

#102 [#48] test : 중복되는 fixture 정리
  src/test/java/com/prgrms/amabnb/config/ApiTest.java
  src/test/java/com/prgrms/amabnb/config/util/DatabaseCleanup.java
  src/test/java/com/prgrms/amabnb/config/util/Fixture.java
  src/test/java/com/prgrms/amabnb/reservation/api/ReservationGuestApiTest.java
  src/test/java/com/prgrms/amabnb/reservation/api/ReservationHostApiTest.java
  src/test/java/com/prgrms/amabnb/reservation/entity/ReservationTest.java
  src/test/java/com/prgrms/amabnb/reservation/repository/ReservationRepositoryTest.java
  src/test/java/com/prgrms/amabnb/reservation/service/ReservationGuestServiceTest.java
  src/test/java/com/prgrms/amabnb/reservation/service/ReservationHostServiceTest.java
  src/test/java/com/prgrms/amabnb/security/oauth/OAuthServiceTest.java
  src/test/java/com/prgrms/amabnb/user/api/UserApiTest.java
  src/test/java/com/prgrms/amabnb/user/service/UserServiceTest.java
Labels: 🍰 refac, :gear: test

#107 [#104] feat: CORS 설정
  src/main/java/com/prgrms/amabnb/security/config/SecurityConfig.java
  src/main/java/com/prgrms/amabnb/security/config/WebConfig.java
  src/main/java/com/prgrms/amabnb/security/jwt/JwtAuthenticationFilter.java
Labels: :hammer: chore, 🎵 feat

#105 [#81] feat: 게스트는 본인이 작성한 리뷰를 수정할 수 있다
  src/main/java/com/prgrms/amabnb/review/api/ReviewApi.java
  src/main/java/com/prgrms/amabnb/review/dto/request/EditReviewRequest.java
  src/main/java/com/prgrms/amabnb/review/dto/response/EditReviewResponse.java
  src/main/java/com/prgrms/amabnb/review/entity/Review.java
  src/main/java/com/prgrms/amabnb/review/exception/ReviewNoPermissionException.java
  src/main/java/com/prgrms/amabnb/review/service/ReviewService.java
  src/main/java/com/prgrms/amabnb/user/service/UserService.java
  src/test/java/com/prgrms/amabnb/common/fixture/ReviewFixture.java
  src/test/java/com/prgrms/amabnb/config/util/Fixture.java
  src/test/java/com/prgrms/amabnb/review/api/ReviewApiTest.java
  src/test/java/com/prgrms/amabnb/review/service/ReviewServiceTest.java
Labels: :gear: test, 🎵 feat

#108 [#85] feat: Rest Docs 기본 설정 구현
  build.gradle
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/reservation_guest.adoc
  src/docs/asciidoc/reservation_host.adoc
  src/docs/asciidoc/token.adoc
  src/docs/asciidoc/user.adoc
  src/main/java/com/prgrms/amabnb/security/config/SecurityConfig.java
  src/main/java/com/prgrms/amabnb/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/prgrms/amabnb/user/api/UserApi.java
  src/main/resources/application-test.yaml
  src/test/java/com/prgrms/amabnb/config/ApiTest.java
  src/test/java/com/prgrms/amabnb/config/util/DocumentFormatGenerator.java
  src/test/java/com/prgrms/amabnb/reservation/api/ReservationGuestApiTest.java
  src/test/java/com/prgrms/amabnb/reservation/api/ReservationHostApiTest.java
  src/test/java/com/prgrms/amabnb/review/api/ReviewApiTest.java
  src/test/java/com/prgrms/amabnb/room/api/HostRoomApiTest.java
  src/test/java/com/prgrms/amabnb/room/api/RoomApiTest.java
  src/test/java/com/prgrms/amabnb/token/api/TokenApiTest.java
  src/test/java/com/prgrms/amabnb/user/api/UserApiTest.java
  src/test/resources/org/springframework/restdocs/templates/asciidoctor/path-parameters.snippet
  src/test/resources/org/springframework/restdocs/templates/asciidoctor/request-fields.snippet
  src/test/resources/org/springframework/restdocs/templates/asciidoctor/request-parameters.snippet
  src/test/resources/org/springframework/restdocs/templates/asciidoctor/response-fields.snippet
Labels: 📝 docs, 🎵 feat

#111 [#109] fix: TokenApiTest 테스트 깨지는 현상 수정
  src/main/java/com/prgrms/amabnb/security/jwt/JwtAuthenticationFilter.java
Labels: 🐛 bug

#115 [#67] feat: 게스트는 숙소의 리뷰를 조회할 수 있다
  src/main/java/com/prgrms/amabnb/review/api/ReviewApi.java
  src/main/java/com/prgrms/amabnb/review/dto/request/SearchReviewRequest.java
  src/main/java/com/prgrms/amabnb/review/dto/response/EditReviewResponse.java
  src/main/java/com/prgrms/amabnb/review/dto/response/SearchReviewResponse.java
  src/main/java/com/prgrms/amabnb/review/repository/QueryReviewRepository.java
  src/main/java/com/prgrms/amabnb/review/repository/QueryReviewRepositoryImpl.java
  src/main/java/com/prgrms/amabnb/review/service/ReviewService.java
  src/test/java/com/prgrms/amabnb/review/api/ReviewApiTest.java
  src/test/java/com/prgrms/amabnb/review/repository/ReviewRepositoryTest.java
  src/test/java/com/prgrms/amabnb/review/service/ReviewServiceTest.java
Labels: :gear: test, 🎵 feat

#116 [#96] chore: 환경별로 Profile 적용
  build.gradle
  src/main/java/com/prgrms/amabnb/reservation/entity/Reservation.java
  src/main/resources/application-cloud.yaml
  src/main/resources/application-local.yaml
  src/main/resources/application-prod.yaml
  src/main/resources/application-test.yaml
  src/main/resources/application.yaml
  src/main/resources/db/schema.sql
  src/test/java/com/prgrms/amabnb/config/ApiTest.java
  src/test/java/com/prgrms/amabnb/review/repository/ReviewRepositoryTest.java
  src/test/resources/schema.sql
Labels: :hammer: chore

#117 [#114] 리뷰 API를 문서화한다
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/review.adoc
  src/test/java/com/prgrms/amabnb/review/api/ReviewApiTest.java
Labels: 📝 docs

#120 [#83, #84] chore: 로그백, Github Actions 설정
  .github/workflows/amabnb.yml
  src/main/resources/appender/console-appender.xml
  src/main/resources/appender/error-file-appender.xml
  src/main/resources/appender/info-file-appender.xml
  src/main/resources/appender/sql-file-appender.xml
  src/main/resources/appender/warn-file-appender.xml
  src/main/resources/application-local.yaml
  src/main/resources/application-prod.yaml
  src/main/resources/logback-spring.xml
Labels: :hammer: chore

#125 [#124] 리드미 이미지 URL 수정
  README.md
Labels: 📝 docs

#129 [#127] chore: db에 casecade 옵션을 적용한다.
  build.gradle
  src/main/resources/application-local.yaml
  src/main/resources/db/schema.sql
  src/test/resources/schema.sql
Labels: :hammer: chore

#130 [#128] fix: 리뷰 페이징 동적쿼리 수정
  build.gradle
  src/main/java/com/prgrms/amabnb/review/api/ReviewApi.java
  src/main/java/com/prgrms/amabnb/review/dto/request/PageReviewRequest.java
  src/test/java/com/prgrms/amabnb/review/api/ReviewApiTest.java
Labels: 🐛 bug, :gear: test, :triangular_flag_on_post: review

#132 [#131] Release Amabnb v1.0.1
  README.md
  build.gradle
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/room_host.adoc
  src/main/java/com/prgrms/amabnb/review/api/ReviewApi.java
  src/main/java/com/prgrms/amabnb/review/dto/request/PageReviewRequest.java
  src/main/java/com/prgrms/amabnb/room/api/HostRoomApi.java
  src/main/java/com/prgrms/amabnb/room/exception/RoomNotHavePermissionException.java
  src/main/java/com/prgrms/amabnb/room/repository/RoomImageRepository.java
  src/main/java/com/prgrms/amabnb/room/service/HostRoomService.java
  src/main/resources/application-local.yaml
  src/main/resources/db/schema.sql
  src/test/java/com/prgrms/amabnb/review/api/ReviewApiTest.java
  src/test/java/com/prgrms/amabnb/room/api/HostRoomApiTest.java
  src/test/java/com/prgrms/amabnb/room/repository/RoomRepositoryTest.java
  src/test/java/com/prgrms/amabnb/room/service/HostRoomServiceTest.java
  src/test/resources/schema.sql
Labels: 🍰 refac, :gear: test, 📝 docs, 🎵 feat, :tada: release
