Repository prgrms-be-devcourse/BEDV2_Amabnb, pull requests merged in 2022-06, with the labels that each got.

#14 [#11] 컨벤션 파일 업로드
  Naver_coding_convention_(amabnb).xml
Labels: :hammer: chore

#16 [#13] ERD 기반 엔티티 구성
  src/main/java/com/prgrms/amabnb/AmabnbApplication.java
  src/main/java/com/prgrms/amabnb/common/model/BaseEntity.java
  src/main/java/com/prgrms/amabnb/common/model/Money.java
  src/main/java/com/prgrms/amabnb/reservation/entity/Reservation.java
  src/main/java/com/prgrms/amabnb/reservation/entity/ReservationStatus.java
  src/main/java/com/prgrms/amabnb/review/entity/Review.java
  src/main/java/com/prgrms/amabnb/room/entity/Room.java
  src/main/java/com/prgrms/amabnb/room/entity/RoomScope.java
  src/main/java/com/prgrms/amabnb/room/entity/RoomType.java
  src/main/java/com/prgrms/amabnb/user/entity/User.java
  src/main/java/com/prgrms/amabnb/user/entity/vo/Email.java
  src/main/java/com/prgrms/amabnb/user/entity/vo/PhoneNumber.java
  src/main/resources/application.properties
  src/main/resources/application.yaml
Labels: 🎵 feat

#28 [#27] 예외 계층화 구현
  src/main/java/com/prgrms/amabnb/common/exception/BusinessException.java
  src/main/java/com/prgrms/amabnb/common/exception/EntityNotFoundException.java
  src/main/java/com/prgrms/amabnb/common/exception/ErrorResponse.java
  src/main/java/com/prgrms/amabnb/common/exception/GlobalExceptionHandler.java
  src/main/java/com/prgrms/amabnb/common/exception/InvalidValueException.java
  src/main/java/com/prgrms/amabnb/user/entity/User.java
  src/main/java/com/prgrms/amabnb/user/entity/vo/Email.java
  src/main/java/com/prgrms/amabnb/user/entity/vo/PhoneNumber.java
  src/main/java/com/prgrms/amabnb/user/exception/UserInvalidValueException.java
  src/test/java/com/prgrms/amabnb/user/entity/UserTest.java
  src/test/java/com/prgrms/amabnb/user/entity/vo/EmailTest.java
  src/test/java/com/prgrms/amabnb/user/entity/vo/PhoneNumberTest.java
Labels: 🍰 refac, 🎵 feat, 🌵 common

#29 [#19] 로그인을 위한 JWT 구현
  build.gradle
  src/main/java/com/prgrms/amabnb/auth/entity/Token.java
  src/main/java/com/prgrms/amabnb/auth/entity/TokenRepository.java
  src/main/java/com/prgrms/amabnb/auth/exception/TokenException.java
  src/main/java/com/prgrms/amabnb/auth/jwt/JwtAuthentication.java
  src/main/java/com/prgrms/amabnb/auth/jwt/JwtAuthenticationFilter.java
  src/main/java/com/prgrms/amabnb/auth/jwt/JwtAuthenticationToken.java
  src/main/java/com/prgrms/amabnb/auth/jwt/JwtTokenProvider.java
  src/main/java/com/prgrms/amabnb/auth/service/TokenService.java
  src/main/resources/application.yaml
Labels: 🎵 feat, 🌵 common

#32 [#17, #20, #21] 회원가입 OAuth 설정
  .gitignore
  src/main/java/com/prgrms/amabnb/auth/jwt/JwtAuthenticationFilter.java
  src/main/java/com/prgrms/amabnb/auth/jwt/JwtTokenProvider.java
  src/main/java/com/prgrms/amabnb/common/exception/GlobalExceptionHandler.java
  src/main/java/com/prgrms/amabnb/oauth/handler/ExceptionHandlerFilter.java
  src/main/java/com/prgrms/amabnb/oauth/handler/OAuthAuthenticationSuccessHandler.java
  src/main/java/com/prgrms/amabnb/oauth/service/OAuthProvider.java
  src/main/java/com/prgrms/amabnb/oauth/service/OAuthService.java
  src/main/java/com/prgrms/amabnb/security/config/SecurityConfig.java
  src/main/java/com/prgrms/amabnb/security/jwt/JwtAuthentication.java
  src/main/java/com/prgrms/amabnb/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/prgrms/amabnb/security/jwt/JwtAuthenticationToken.java
  src/main/java/com/prgrms/amabnb/security/jwt/JwtTokenProvider.java
  src/main/java/com/prgrms/amabnb/security/jwt/util/AuthorizationExtractor.java
  src/main/java/com/prgrms/amabnb/token/Token.java
  src/main/java/com/prgrms/amabnb/token/TokenRepository.java
  src/main/java/com/prgrms/amabnb/token/TokenResponse.java
  src/main/java/com/prgrms/amabnb/token/TokenService.java
  src/main/java/com/prgrms/amabnb/token/exception/TokenException.java
  src/main/java/com/prgrms/amabnb/user/entity/User.java
  src/main/java/com/prgrms/amabnb/user/entity/UserRole.java
  src/main/java/com/prgrms/amabnb/user/repository/UserRepository.java
  src/main/resources/application.yaml
  src/test/java/com/prgrms/amabnb/user/entity/UserTest.java
Labels: :hammer: chore, 🎵 feat, :key: user

#33 [#30] JWT & Security 리팩토링
  src/main/java/com/prgrms/amabnb/common/exception/GlobalExceptionHandler.java
  src/main/java/com/prgrms/amabnb/common/security/config/SecurityConfig.java
  src/main/java/com/prgrms/amabnb/common/security/handler/ExceptionHandlerFilter.java
  src/main/java/com/prgrms/amabnb/common/security/handler/JwtAuthenticationEntryPoint.java
  src/main/java/com/prgrms/amabnb/common/security/handler/OAuthAuthenticationSuccessHandler.java
  src/main/java/com/prgrms/amabnb/common/security/jwt/JwtAuthentication.java
  src/main/java/com/prgrms/amabnb/common/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/prgrms/amabnb/common/security/jwt/JwtAuthenticationToken.java
  src/main/java/com/prgrms/amabnb/common/security/jwt/JwtTokenProvider.java
  src/main/java/com/prgrms/amabnb/common/security/jwt/exception/ExpiredTokenException.java
  src/main/java/com/prgrms/amabnb/common/security/jwt/exception/InvalidTokenException.java
  src/main/java/com/prgrms/amabnb/common/security/jwt/exception/TokenException.java
  src/main/java/com/prgrms/amabnb/common/security/jwt/util/AuthorizationExtractor.java
  src/main/java/com/prgrms/amabnb/oauth/api/OAuthController.java
  src/main/java/com/prgrms/amabnb/oauth/dto/AccessTokenResponse.java
  src/main/java/com/prgrms/amabnb/oauth/dto/RefreshTokenRequest.java
  src/main/java/com/prgrms/amabnb/oauth/dto/TokenResponse.java
  src/main/java/com/prgrms/amabnb/oauth/dto/UserProfile.java
  src/main/java/com/prgrms/amabnb/oauth/entity/Token.java
  src/main/java/com/prgrms/amabnb/oauth/entity/TokenRepository.java
  src/main/java/com/prgrms/amabnb/oauth/service/OAuthProvider.java
  src/main/java/com/prgrms/amabnb/oauth/service/OAuthService.java
  src/main/java/com/prgrms/amabnb/oauth/service/TokenService.java
  src/main/java/com/prgrms/amabnb/security/jwt/JwtAuthentication.java
  src/main/java/com/prgrms/amabnb/security/jwt/util/AuthorizationExtractor.java
  src/main/java/com/prgrms/amabnb/token/TokenService.java
  src/main/java/com/prgrms/amabnb/token/exception/TokenException.java
  src/main/java/com/prgrms/amabnb/user/entity/User.java
  src/main/resources/application.yaml
  src/test/java/com/prgrms/amabnb/user/entity/UserTest.java
Labels: 🍰 refac, :key: user

#31 [#24] 호스트가 숙소 등록을 할 수 있다
  src/main/java/com/prgrms/amabnb/common/exception/GlobalExceptionHandler.java
  src/main/java/com/prgrms/amabnb/room/api/RoomApiController.java
  src/main/java/com/prgrms/amabnb/room/dto/request/CreateRoomRequest.java
  src/main/java/com/prgrms/amabnb/room/dto/response/SearchRoomResponse.java
  src/main/java/com/prgrms/amabnb/room/entity/Room.java
  src/main/java/com/prgrms/amabnb/room/entity/vo/RoomAddress.java
  src/main/java/com/prgrms/amabnb/room/entity/vo/RoomOption.java
  src/main/java/com/prgrms/amabnb/room/exception/RoomInvalidValueException.java
  src/main/java/com/prgrms/amabnb/room/repository/CreateRoomRepository.java
  src/main/java/com/prgrms/amabnb/room/service/CreateRoomService.java
  src/test/java/com/prgrms/amabnb/room/api/RoomApiControllerTest.java
  src/test/java/com/prgrms/amabnb/room/entity/RoomTest.java
  src/test/java/com/prgrms/amabnb/room/entity/dto/request/CreateRoomRequestTest.java
  src/test/java/com/prgrms/amabnb/room/entity/vo/RoomAddressTest.java
  src/test/java/com/prgrms/amabnb/room/entity/vo/RoomOptionTest.java
  src/test/java/com/prgrms/amabnb/room/repository/CreateRoomRepositoryTest.java
  src/test/java/com/prgrms/amabnb/room/service/CreateRoomServiceTest.java
Labels: 🎵 feat, :house: room

#39 [#23] JWT 테스트 작성
  src/main/java/com/prgrms/amabnb/common/exception/GlobalExceptionHandler.java
  src/main/java/com/prgrms/amabnb/common/security/handler/JwtAuthenticationEntryPoint.java
  src/main/java/com/prgrms/amabnb/common/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/prgrms/amabnb/common/security/jwt/JwtTokenProvider.java
  src/main/java/com/prgrms/amabnb/oauth/service/TokenService.java
  src/test/java/com/prgrms/amabnb/common/security/jwt/JwtAuthenticationFilterTest.java
  src/test/java/com/prgrms/amabnb/common/security/jwt/JwtAuthenticationTest.java
  src/test/java/com/prgrms/amabnb/common/security/jwt/JwtTokenProviderTest.java
  src/test/java/com/prgrms/amabnb/common/security/jwt/util/AuthorizationExtractorTest.java
  src/test/java/com/prgrms/amabnb/oauth/entity/TokenRepositoryTest.java
  src/test/java/com/prgrms/amabnb/oauth/service/TokenServiceTest.java
Labels: :gear: test

#50 [#49] Room 엔티티 리펙토링 했다.
  src/main/java/com/prgrms/amabnb/common/config/QueryDslConfig.java
  src/main/java/com/prgrms/amabnb/common/model/Money.java
  src/main/java/com/prgrms/amabnb/room/entity/Room.java
  src/main/java/com/prgrms/amabnb/room/entity/RoomImage.java
Labels: 🎵 feat

#53 [#51] 숙소가 허용할 수 있는 인원을 초과하는 지 확인하는 기능 구현
  src/main/java/com/prgrms/amabnb/room/entity/Room.java
  src/test/java/com/prgrms/amabnb/room/entity/RoomTest.java
Labels: 🎵 feat, :house: room

#61 [#57] refac: 예외 필드들의 상세 메시지를 추출하는 기능 구현
  src/main/java/com/prgrms/amabnb/common/exception/ErrorResponse.java
  src/main/java/com/prgrms/amabnb/common/exception/GlobalExceptionHandler.java
Labels: 🍰 refac

#62 [#58] feat: 로그아웃 기능을 구현한다
  src/main/java/com/prgrms/amabnb/token/api/TokenApi.java
  src/main/java/com/prgrms/amabnb/token/repository/TokenRepository.java
  src/main/java/com/prgrms/amabnb/token/service/TokenService.java
  src/test/java/com/prgrms/amabnb/token/api/TokenApiTest.java
  src/test/java/com/prgrms/amabnb/token/service/TokenServiceTest.java
Labels: :gear: test, 🎵 feat

#60 [#46] feat: 유저는 서비스 탈퇴를 할 수 있다
  src/main/java/com/prgrms/amabnb/user/api/UserApi.java
  src/main/java/com/prgrms/amabnb/user/service/UserService.java
  src/test/java/com/prgrms/amabnb/user/api/UserApiTest.java
  src/test/java/com/prgrms/amabnb/user/service/UserServiceTest.java
Labels: :gear: test, 🎵 feat
